:root{
    --top-vertical:0px;
    --left-horizontal: 32px;
    --dimensiones-grupo: 70px;
}


*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    user-select: none;
}

body{
    background-color: beige;
}

h1{
    text-align: center;
    font-size: xx-large;
}

h2{
    margin-top: 35px;
    font-size: x-large;
}

i{
    font-size: 50px;
}

.jugadorContainer{
    background-color: rgb(234, 233, 213);
    border-radius: 5px;
    width: 40vw;
    margin: 10px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    min-width: 60px;
    font-size: xx-large;
    background-color: rgb(200, 197, 193);
    border-radius: 5px;
}

#jugadoresContainer{
    display: flex;
    justify-content: center;

}

.botonesJugador{
    position: fixed;
    top: 65px;
}

img{
    height: var(--dimensiones-grupo);
}

.grupo{
    position: relative;
    width: var(--dimensiones-grupo);
    height: var(--dimensiones-grupo);
    margin: 10px;
}

.separador{
    border-top: 2px solid black;
    width: var(--dimensiones-grupo);
    margin: 10px;
}

.fosforo1{
    position: absolute;
    transform: rotate(90deg);
    top: -30px;
    left: var(--left-horizontal);
}

.fosforo2{
    position: absolute;
    transform: rotate(180deg);
    top: var(--top-vertical);
    left: 65px;
}

.fosforo3{
    position: absolute;
    transform: rotate(270deg);
    top: 32px;
    left: var(--left-horizontal);
}

.fosforo4{
    position: absolute;
    transform: rotate(0deg);
    top: var(--top-vertical);
    left: 0;
}

.fosforo5{
    position: absolute;
    transform: rotate(45deg);
    top: 0px;
    left: 34px;
}